/* Legend Component */
.legend-wrapper {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  & img {
    width: 2.4rem;
  }
}

/* Input Components */
.input-wrapper,
.radio-wrapper,
.textarea-wrapper {
  display: grid;
  gap: 1.2rem;
}

.input-wrapper input,
.event-types-wrapper {
  background-color: var(--input-base);
  border: 0.1rem solid var(--input-stroke);
  border-radius: 0.8rem;
}

.input-wrapper input:focus,
.event-types-wrapper:focus-within {
  outline: 0.1rem solid var(--brand-light);
  border-color: transparent;
}

.input-wrapper {
  & input {
    height: 4.8rem;
    padding: 1.3rem 1.6rem;

    &::placeholder {
      color: var(--input-placeholder);
    }
  }
}

.radio-wrapper {
  & input {
    position: absolute;
    inset: 0;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  & .event-types-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;
    height: 4.8rem;
    padding: 0.4rem;

    & .event-type {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      border-radius: 0.4rem;

      &:has(:checked) {
        background-color: var(--shape-button);

        & svg {
          stroke: var(--brand-light);
        }
      }

      & svg {
        max-width: 1.6rem;
      }

      & span {
        font-size: 1.4rem;
      }
    }
  }

  & .event-color-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.2rem;

    & .event-color {
      position: relative;
      width: fit-content;
      border-radius: 50%;
      border: 0.6rem solid var(--shape-button);

      & .circle {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: inherit;
      }

      &:has(input:hover) {
        border-color: var(--shape-hover);
      }

      &:has(:checked) {
        outline: 0.2rem solid var(--brand-light);
      }

      &:has(#blue) .circle {
        background-color: var(--brand-light);
      }

      &:has(#navy) .circle {
        background-color: var(--navy);
      }

      &:has(#purple) .circle {
        background-color: var(--purple);
      }

      &:has(#fuschia) .circle {
        background-color: var(--fuschia);
      }

      &:has(#pink) .circle {
        background-color: var(--pink);
      }

      &:has(#danger) .circle {
        background-color: var(--danger);
      }

      &:has(#orange) .circle {
        background-color: var(--orange);
      }

      &:has(#yellow) .circle {
        background-color: var(--yellow);
      }

      &:has(#lime) .circle {
        background-color: var(--lime);
      }

      &:has(#green) .circle {
        background-color: var(--green);
      }

      &:has(#cyan) .circle {
        background-color: var(--cyan);
      }
    }
  }

  & .event-theme-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 0.8rem;

    & .event-theme {
      position: relative;
      width: fit-content;
      padding: 0.4rem;
      text-align: center;
      background-color: var(--shape-button);
      border: 0.1rem solid var(--input-stroke);
      border-radius: 0.8rem;

      &:has(input:hover) {
        background-color: var(--shape-hover);
      }

      &:has(:checked) {
        outline: 0.2rem solid var(--brand-light);
      }

      & img {
        border-radius: 0.4rem;
      }

      & figcaption {
        margin-block: 0.8rem;
      }
    }
  }
}

/* Textarea Component */
.textarea-wrapper {
  & textarea {
    height: 13.6rem;
    padding: 1.6rem;
    background-color: var(--input-base);
    border: 0.1rem solid var(--input-stroke);
    border-radius: 0.8rem;
    resize: none;

    &:focus {
      outline: 0.1rem solid var(--brand-light);
      border-color: transparent;
    }
  }
}
