/* Legend Component */
.legend-wrapper {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  & img {
    width: 2.4rem;
  }
}

/* Textarea Component */
.textarea-wrapper {
  & textarea {
    height: 13.6rem;
    padding: 1.6rem;
    background-color: var(--input-base);
    border: 0.1rem solid var(--input-stroke);
    border-radius: 0.8rem;
    resize: none;

    &:focus {
      outline: 0.1rem solid var(--brand-light);
      border-color: transparent;
    }
  }
}

/* Inputs Components */
.input-wrapper input[type='radio'],
.input-wrapper input[type='checkbox'],
.event-types-wrapper input[type='radio'] {
  position: absolute;
  inset: 0;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.input-wrapper,
.radio-wrapper,
.textarea-wrapper {
  display: grid;
  gap: 1.2rem;
}

.input-wrapper input,
.event-types-wrapper {
  background-color: var(--input-base);
  border: 0.1rem solid var(--input-stroke);
  border-radius: 0.8rem;
}

.input-wrapper input:focus,
.event-types-wrapper:focus-within {
  outline: 0.1rem solid var(--brand-light);
  border-color: transparent;
}

.input-wrapper {
  & input {
    height: 4.8rem;
    padding: 1.3rem 1.6rem;

    &::placeholder {
      color: var(--input-placeholder);
    }
  }

  &:has(:focus:invalid) input {
    outline-color: var(--danger);
  }

  &:has(:focus:invalid) .is-invalid {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    & small {
      font: var(--text-xs-regular);
      color: var(--danger);
    }
  }
}

.radio-wrapper {
  & .event-types-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;
    height: 4.8rem;
    padding: 0.4rem;

    & .event-type {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      border-radius: 0.4rem;

      &:has(:checked) {
        background-color: var(--shape-button);

        & svg {
          stroke: var(--brand-light);
        }
      }

      & svg {
        max-width: 1.6rem;
      }

      & span {
        font-size: 1.4rem;
      }
    }
  }

  & .event-color-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.2rem;

    & .event-color {
      position: relative;
      width: fit-content;
      border-radius: 50%;
      border: 0.6rem solid var(--shape-button);

      & .circle {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: inherit;
      }

      &:has(input:hover) {
        border-color: var(--shape-hover);
      }

      &:has(:checked) {
        outline: 0.2rem solid var(--brand-light);
      }

      &:has(#blue) .circle {
        background-color: var(--brand-light);
      }

      &:has(#navy) .circle {
        background-color: var(--navy);
      }

      &:has(#purple) .circle {
        background-color: var(--purple);
      }

      &:has(#fuschia) .circle {
        background-color: var(--fuschia);
      }

      &:has(#pink) .circle {
        background-color: var(--pink);
      }

      &:has(#danger) .circle {
        background-color: var(--danger);
      }

      &:has(#orange) .circle {
        background-color: var(--orange);
      }

      &:has(#yellow) .circle {
        background-color: var(--yellow);
      }

      &:has(#lime) .circle {
        background-color: var(--lime);
      }

      &:has(#green) .circle {
        background-color: var(--green);
      }

      &:has(#cyan) .circle {
        background-color: var(--cyan);
      }
    }
  }

  & .event-theme-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 0.8rem;

    & .event-theme {
      position: relative;
      width: fit-content;
      padding: 0.4rem;
      text-align: center;
      background-color: var(--shape-button);
      border: 0.1rem solid var(--input-stroke);
      border-radius: 0.8rem;

      &:has(input:hover) {
        background-color: var(--shape-hover);
      }

      &:has(:checked) {
        outline: 0.2rem solid var(--brand-light);
      }

      & img {
        border-radius: 0.4rem;
      }

      & figcaption {
        margin-block: 0.8rem;
      }
    }
  }
}

.switch-toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  & .switch-toggle {
    position: relative;
    width: 6.4rem;
    padding: 0.4rem;
    background-color: var(--input-base);
    border: 0.1rem solid var(--input-stroke);
    border-radius: 999rem;
    transition: 0.2s;

    & .toggle {
      width: 2.4rem;
      height: 2.4rem;
      background-color: var(--input-stroke);
      border-radius: 50%;
      transition: 0.2s;
    }

    &:focus-within {
      outline: 0.1rem solid var(--brand-light);
    }

    &:has(:checked) {
      background-color: var(--brand-light);

      & .toggle {
        background-color: var(--text-heading);
        margin-left: calc(100% - 2.4rem);
      }
    }
  }

  & .light {
    display: none;
  }

  &:has(:checked) {
    & .dark {
      display: none;
    }

    & .light {
      display: block;
    }
  }
}

.file-upload {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.2rem;

  & .thumbnail {
    all: unset;
    position: absolute;
    top: 0;
    left: 0;
    width: 0.1rem;
    height: 0.1rem;
    opacity: 0;
  }

  & .upload {
    all: unset;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    min-height: 4rem;
    padding-inline: 1.2rem;
    font: var(--text-sm-semibold);
    color: var(--text-heading);
    background-color: var(--shape-button);
    border-radius: 0.8rem;
    cursor: pointer;

    & svg {
      width: 1.6rem;
      height: 1.6rem;
      stroke: var(--brand-light);
    }

    &:hover {
      background-color: var(--shape-hover);
    }
  }

  & span {
    color: var(--input-placeholder);

    &.uploaded {
      color: var(--text-heading);
    }
  }

  &:has(:focus) label {
    outline: 0.1rem solid var(--brand-light);
  }
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding-block: 0.4rem;

  & input {
    all: unset;
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--input-base);
    border: 0.1rem solid var(--input-stroke);
    border-radius: 0.4rem;
    cursor: pointer;

    &:focus {
      outline: 0.1rem solid var(--brand-light);
    }

    &:checked {
      background: url('../../assets/icons/check.svg') no-repeat center/contain;
      outline: 0.1rem solid var(--brand-light);
      border-color: transparent;
    }
  }

  & label a {
    font-weight: 600;
    text-decoration: underline;
    color: var(--brand-light);
  }
}

/* Alert Component */
.is-invalid {
  display: none;
}

/* Button Components */
.btn-primary {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: fit-content;
  height: 4.8rem;
  margin-left: auto;
  padding-inline: 2rem;
  font: var(--text-sm-semibold);
  color: var(--text-heading);
  background-color: var(--brand-dark);
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;

  &:hover {
    background-color: var(--brand-mid);
  }
}
