.personalization-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  row-gap: 2.8rem;

  & .legend-wrapper {
    grid-column: 1 / -1;
    margin-bottom: 0.8rem;
  }

  & .input-wrapper:has([name='color']),
  & .input-wrapper:has(.event-theme-wrapper) {
    grid-column: 1 / -1;
  }

  & .style-and-thumb {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 17.6rem 1fr;
    gap: 1.6rem;
  }
}
