aside {
  position: sticky;
  top: 2rem;
  min-height: calc(100dvh - 4rem);
  padding: 3.2rem;
  background: url('../../assets/images/Background.jpg') no-repeat center/cover;
  border-radius: 1.2rem;

  & img {
    max-width: 4.585rem;
  }

  & span {
    display: block;
    margin: 1.6rem 0 0.4rem;
  }
}
